name: QA Automation Pipeline

on:
  push:
    branches: [main]
  pull_request:

jobs:
  # ==================================
  # WEB - Playwright
  # ==================================
  web-test:
    name: Web Automation
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./web-testing

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install
      - run: npx playwright install --with-deps
      - run: npm run test

      - name: Upload Web Allure Results
        uses: actions/upload-artifact@v4
        with:
          name: web-allure-results
          path: web-testing/allure-results
          if-no-files-found: ignore

  # ==================================
  # API - Newman
  # ==================================
  api-test:
    name: API Automation
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./api-testing

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install
        
      - name: Run API Test
        continue-on-error: true
        run: npm run start

      - name: Upload API Report
        uses: actions/upload-artifact@v4
        with:
          name: api-html-report
          path: api-testing/reporter
          if-no-files-found: ignore

  # ==================================
  # MOBILE - WDIO + EMULATOR
  # ==================================
  mobile-test:
      name: Mobile Automation
      runs-on: ubuntu-latest
  
      defaults:
        run:
          working-directory: ./mobile-testing
  
      steps:
        - uses: actions/checkout@v4
  
        - uses: actions/setup-node@v4
          with:
            node-version: 18
  
        - run: npm install
  
       
        - name: Set up JDK 17
          uses: actions/setup-java@v3
          with:
                 distribution: 'temurin'
                 java-version: '17'
  
       
        - name: Download APK
          run: |
            mkdir -p apk
            curl -L -o ./apk/android.wdio.native.app.v2.0.0.apk \
              "https://github.com/webdriverio/native-demo-app/releases/download/v2.0.0/android.wdio.native.app.v2.0.0.apk"
  
    
        - name: Run tests on Emulator
          uses: reactivecircus/android-emulator-runner@v2
          with:
            api-level: 30
            arch: x86_64
            profile: pixel_4
            avd-name: test
            emulator-options: -no-window -no-snapshot -noaudio -no-boot-anim -accel on
            disable-animations: true
            working-directory: ./mobile-testing
            script: |
              # Install global tools
              npm install -g appium
              
              # Install driver
              appium driver install uiautomator2
              
              # Start Appium
              appium --log-level debug &
              
              # Tunggu Appium siap
              sleep 10
              
              # Install APK ke emulator
              adb install ./apk/android.wdio.native.app.v2.0.0.apk
              
              # Jalankan test
              npm run wdio
  
       
        - name: Upload Mobile Allure
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: mobile-allure-results
            path: mobile-testing/allure-results
            if-no-files-found: ignore
  
        - name: Upload Mobile Video
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: mobile-video
            path: mobile-testing/reports/video
            if-no-files-found: ignore